@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #6067b6;
  background-color: #64656530;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  font-weight: 500;
  margin-left: 5px;
  background-color: #fff9fa;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 #7d82b8;
  pointer-events: none;
  user-select: none;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  background-color: #5c5d8d;
  border-radius: 10px;
  box-shadow: 5px 5px 3px 2px rgba(92, 40, 101, 0.3);
}

.edit-mode {
  color: white;
}

/*PlaceHolders*/
.form-input::placeholder {
  color: #5c5d8de1;
}
.form-input-filter::placeholder {
  color: #b8b9bf;
}

/* Form & Input */
.form-input {
  width: 100%;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  outline: 3px;
  outline-color: #5c5d8d2e;
  outline-style: solid;
  outline-offset: -4px;
  background-color: #fff9fa;
  color: white;
  box-shadow: 5px 5px 0px 1px #7a7ebf;
}

.filter {
  display: flex;
  align-items: center;
  color: #b8b9bf;
}

.form-input-filter {
  margin-top: 20px;
  width: 100%;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
}

/* Buttons */
.btn {
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #5c9ebf;
  color: white;
  border: 1px solid white;
}

.btn:hover {
  background-color: #5bc0de;
  color: #ffffff;
  border: 2px solid #5c9ebf;
  outline: 2px;
  outline-color: white;
  outline-style: solid;
  outline-offset: 1px;
  border: none;
}

.btn-link {
  font-size: 16px;
  background-color: transparent;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-clear {
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
  background-color: rgb(191, 0, 0);
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0px 4px 4px #7d82b8;
}

.btn-clear:hover {
  background-color: red;
  outline: 2px;
  outline-color: white;
  outline-style: solid;
  outline-offset: 1px;
  border: none;
}

.text-red {
  color: red;
}

/* Items */

.items {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.items li {
  display: flex;
  justify-content: space-between;
  width: 45%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px 20px;
  font-weight: 700;
  cursor: pointer;
  background-color: #fff9fa;
  outline-color: #5c5d8d2e;
  outline-style: solid;
  outline-offset: -4px;
  user-select: none;
  box-shadow: 5px 2px 1px 1px #7d82b8;
}

.items li:hover {
  background-color: #fbeff1;
  color: #4750af;
  outline-color: red;
  outline-style: solid;
  outline-offset: -3px;
}

@media (max-width: 770px) {
  .items li {
    width: 100%;
  }
}
